@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lexend+Peta:wght@100..900&family=Poetsen+One&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background-color: #ffffff; }

nav div a img {
  width: 400px;
  border-radius: 50px; }
  @media screen and (max-width: 768px) {
    nav div a img {
      justify-items: center; } }

div ul li a {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal; }

h1 {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal; }

nav div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  justify-items: center;
  margin: 80px;
  grid-template-areas: "NBA NFL MLB"; }
  nav div h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 50px;
    font-weight: 900;
    font-style: normal; }

form {
  margin: 50px;
  padding: 50px;
  justify-content: center;
  max-width: 90%; }

main {
  margin: 50px; }

.imagenes-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.prenda {
  display: flex;
  border: grey solid 2px;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: 1px 1px 5px 2px #240442;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  margin: 5px; }

.prenda img {
  margin: 30px;
  padding: 50px;
  width: 250px; }

.prenda button {
  padding: 5px 15px;
  margin: 15px;
  border-radius: 15px;
  background-color: #240442;
  color: white;
  font-family: sans-serif; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

footer {
  padding: 20px 0;
  background-color: #4b004b; }
  footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; }
    footer .footer-container a {
      display: block;
      width: 100%; }
      footer .footer-container a img {
        width: 100px;
        margin: 40px;
        padding: 20px;
        border-radius: 50px; }
  footer h1 {
    color: #fdfcfd; }
  @media screen and (max-width: 768px) {
    footer .footer-container {
      grid-template-columns: 1fr 1fr 1fr; } }
