.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer {
    padding: 20px 0;
    background-color: #4b004b;


    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;



        a {
            display: block;
            width: 100%;

            img {
                width: 100px;
                margin: 40px;
                padding: 20px;
                border-radius: 50px;
            }
        }
    }

    h1 {
        color: #fdfcfd;
    }

    @include mobile {
        .footer-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}